/* print section */
@media print {
  .no-print {
    display: none !important;
  }
  * {
    visibility: visible !important;
    color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
  }
  .print_area {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
  }
}
